:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white-background: #ffffff;
}

/*studio*/

body {
  color: #434455;
  font-family: "Roboto", sans-serif;
}

.header-logo {
  color: var(--dark);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-web {
  color: var(--primary-brand);
}

.header-list {
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-link:active {
  color: var(--pressed-state);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-mail {
  color: var(--pressed-state);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-main {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.order-service-title {
  color: var(--white-background);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.order-service-button {
  border-radius: 4px;
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.order-service-button:hover {
  border-radius: 4px;
  background: var(--pressed-state);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.text-button {
  color: var(--white-background);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.advantages-subtitle {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantages-text {
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.services-title {
  color: var(--dark);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.services-image {
  color: var(--accent);
}

.team-title {
  color: var(--dark);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-name {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-logo {
  color: var(--dark);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-web {
  color: var(--primary-brand);
}

.footer-text {
  color: var(--light);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*portfolio*/

.filter-button-all {
  border-radius: 4px;
  border: 1px solid var(--accent);
  background: var(--light);
}
.filter-button-website {
  border-radius: 4px;
  border: 1px solid var(--accent);
  background: var(--light);
}
.filter-button-app {
  border-radius: 4px;
  border: 1px solid var(--accent);
  background: var(--light);
}
.filter-button-design {
  border-radius: 4px;
  border: 1px solid var(--accent);
  background: var(--light);
}
.filter-button-marketing {
  border-radius: 4px;
  border: 1px solid var(--accent);
  background: var(--light);
}

.filter-button-all:hover {
  border-radius: 4px;
  background: var(--pressed-state);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.filter-button-website:hover {
  border-radius: 4px;
  background: var(--pressed-state);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.filter-button-app:hover {
  border-radius: 4px;
  background: var(--pressed-state);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.filter-button-design:hover {
  border-radius: 4px;
  background: var(--pressed-state);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.filter-button-marketing:hover {
  border-radius: 4px;
  background: var(--pressed-state);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filter-button-text {
  color: var(--primary-brand);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04;
}

.filter-button-text:hover {
  color: var(--white-background);
}

/*portfolio-images*/

.portfolio-picture-title {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-picture-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
